<div style="margin-top: 60px" class="container">

  <table class="table">
    <thead>
      <tr>
        <th scope="col">First name</th>

        <th scope="col">Last name</th>

        <th scope="col">eMail</th>

        <th scope="col">Last update</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.eMail}}</td>
        <td>{{user.lastUpdate | date: 'dd.MM.yyyy. HH:mm:ss'}}</td>
      </tr>
    </tbody>
  </table>
  <pagination [totalItems]="totalElements" [(ngModel)]="currentPage" [itemsPerPage]="pageSize" (pageChanged)="pageChanged($event)"></pagination>

</div>


